<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootsrap.min.css'>
    <title>Word Occurrence Finder</title>
</head>
<body>
    <div class='container'>
        <h1>Word Counter</h1>
        <h2>Enter a word to find, and then some text through which you wish to search for the
            number of occurences:</h2>
        <form action='/word_count'>
            <div class='form-group'>
                <label for='word'>Word to find:</label>
                <input id='word' name='word' class='form-control' type='text' autofocus="autofocus" placeholder="enter word here"/>
            </div>
            <br>
            <div class='form-group'>
                <label for='text'>Enter text below:</label>
                <br>
                <textarea id="text" name="text" class="form_control" cols="50" rows="10"/>
                </textarea>
            </div>
            <button type='submit' class='btn-success'>Find Word Occurrence!</button>
        </form>
    </div>
</body>
</html>
