<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootsrap.min.css'>
        <title>Word Count Results</title>
    </head>
    <body>
        <div class='container'>
            <h1>Word Count Results</h1>
            <h3>The word you entered occurs {{ result }} times in the text</h3>
        </div>
        <div class="container">
            <a href="/">Search for another word</a>
        </div>
    </body>
</html>
